@font-face {
   font-family: 'Akrobatextrabold';
   font-display: swap;
   src: url('file:///C:/Users/Stolbovoy/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-01-15_094246/fonts/Akrobatextrabold/font.ttf');
}
